{
    "openapi": "3.0.0",
    "info": {
        "title": "Agenda API",
        "description": "Documentação da API de agendamentos e lembretes",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Servidor principal"
        }
    ],
    "paths": {
        "/api/v1/appointments": {
            "get": {
                "tags": [
                    "Appointments"
                ],
                "summary": "Listar todos os compromissos paginados do usuário autenticado",
                "operationId": "b827cd052bc10ca91a7753a2c98c95c8",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Quantidade de resultados por página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de compromissos retornada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lista de compromissos recuperada com sucesso."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Appointments"
                ],
                "summary": "Criar um novo compromisso",
                "operationId": "48a846f3ad34419db2fd16184dfbb330",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreAppointmentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Compromisso criado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppointmentResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/appointments/{id}": {
            "get": {
                "tags": [
                    "Appointments"
                ],
                "summary": "Exibir um compromisso específico",
                "operationId": "19c3861848d29c8e408e94bb84dea1f7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do compromisso",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Compromisso encontrado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppointmentResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Appointments"
                ],
                "summary": "Atualizar um compromisso",
                "operationId": "0eed29492f9cb57edc5953fc9da63637",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do compromisso",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateAppointmentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Compromisso atualizado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppointmentResource"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Appointments"
                ],
                "summary": "Excluir um compromisso",
                "operationId": "5043f7d38fe8e91347d7fbfaf1bfd532",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do compromisso",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Compromisso excluído com sucesso"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "StoreAppointmentRequest": {
                "required": [
                    "title",
                    "description",
                    "date",
                    "start_time",
                    "end_time"
                ],
                "properties": {
                    "title": {
                        "type": "string",
                        "example": "Reunião de planejamento"
                    },
                    "description": {
                        "type": "string",
                        "example": "Reunião com a equipe para discutir o próximo sprint."
                    },
                    "date": {
                        "type": "string",
                        "format": "date",
                        "example": "2025-07-01"
                    },
                    "start_time": {
                        "type": "string",
                        "format": "time",
                        "example": "09:00"
                    },
                    "end_time": {
                        "type": "string",
                        "format": "time",
                        "example": "10:30"
                    },
                    "status": {
                        "type": "string",
                        "example": "pendente"
                    }
                },
                "type": "object"
            },
            "UpdateAppointmentRequest": {
                "properties": {
                    "title": {
                        "type": "string",
                        "example": "Reunião atualizada"
                    },
                    "description": {
                        "type": "string",
                        "example": "Descrição atualizada."
                    },
                    "date": {
                        "type": "string",
                        "format": "date",
                        "example": "2025-07-01"
                    },
                    "start_time": {
                        "type": "string",
                        "format": "time",
                        "example": "14:00"
                    },
                    "end_time": {
                        "type": "string",
                        "format": "time",
                        "example": "15:30"
                    },
                    "status": {
                        "type": "string",
                        "example": "concluído"
                    }
                },
                "type": "object"
            },
            "AppointmentResource": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "title": {
                        "type": "string",
                        "example": "Reunião de planejamento"
                    },
                    "description": {
                        "type": "string",
                        "example": "Reunião com a equipe"
                    },
                    "date": {
                        "type": "string",
                        "format": "date",
                        "example": "2025-07-01"
                    },
                    "start_time": {
                        "type": "string",
                        "format": "time",
                        "example": "09:00"
                    },
                    "end_time": {
                        "type": "string",
                        "format": "time",
                        "example": "10:00"
                    },
                    "status": {
                        "type": "string",
                        "example": "pendente"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-06-25T10:00:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-06-25T10:00:00Z"
                    }
                },
                "type": "object"
            }
        }
    },
    "tags": [
        {
            "name": "Appointments",
            "description": "Appointments"
        }
    ]
}